{% if active_value.label = Series %}
<article {{ active_value.label }}
  itemtype="http://schema.org/Product"
  itemscope="itemscope"
  class="{% if prod_variant.available == false%}product--unavailable {% endif %}column {% if classes %}{{ classes }}{% else %}column--xs-12 column--sm-6 column--sm-stretch column--md-4 column--md-stretch column--lg-3 column--lg-stretch{% endif %} product product--{{ prod.id }} product--{{ forloop.index }}{% if prod_variant.compare_at_price > prod_variant.price %} product--on-sale{% endif %}"
  data-bait="{{ prod_variant.metafields.kistler.baits | escape }}"
  data-structure="{{ prod_variant.metafields.kistler.cover | escape }}"
  data-lure-line-wt="{{ prod_variant.metafields.kistler.lure_weight_line_weight | escape }}"
  {% for option in prod.options_with_values %}
    {% assign value = prod_variant.options[forloop.index0] | replace: ' ', '' | replace: '"', '' | escape %}
    data-{{ option.name | handleize }}="{{ value  }}"
  {% endfor %}

  
  data-price="{{ prod_variant.price }}"
  data-series="{% for tag in prod.tags %}{% if tag contains 'Series:' %}{{ tag | split: ':' | last }}{% endif %}{% endfor %}"
>
  
  {% assign kistler_metafield = prod_variant.metafields.kistler %}  
  
<!-- {% for metafield in kistler_metafield %}
  
{{ metafield | json }}<br> 
  <h1>{{ metafield[0] }}</h1>
  {{ metafield[0] | handleize }}={{ metafield | slice: 1, metafield.size | join: ', ' }}
  

{% endfor %} -->

  

  <div class="product__content">
    <div class="product__badges">
      {% if prod_variant.compare_at_price > prod_variant.price %}
         {% assign difference = prod_variant.compare_at_price | minus: prod_variant.price %}
        <div class="product__badge product__badge--sale">Save {{ difference | money_without_trailing_zeros }}</div>
      {% endif %}
    </div>
    <a itemprop="url" class="product__image-wrapper" href="{{ prod_variant.url | within: collection }}" title="{{ prod.title | strip_html | escape }}">
      <noscript>
        <img itemprop="image" class="product__image product__image--{{ prod_variant.id }}" srcset="{{ prod_variant.image | img_url: '800x' }} 2x, {{ prod_variant.image | img_url: '400x' }} 1x" src="{{ prod_variant.image | img_url: '400x' }}" data-default-image="{{ prod_variant.image | img_url: '800x' }}" alt="{% if prod_variant.image.alt != blank %}{{ prod_variant.image.alt | escape }}{% else %}{{ prod.title | escape}}{% endif %}">
      </noscript>
        <img itemprop="image" class="product__image product__image--{{ prod_variant.id }}" srcset="{{ prod_variant.image | img_url: '800x' }} 2x, {{ prod_variant.image | img_url: '400x' }} 1x" src="{{ prod_variant.image | img_url: '400x' }}" data-default-image="{{ prod_variant.image | img_url: '800x' }}" alt="{% if prod_variant.image.alt != blank %}{{ prod_variant.image.alt | escape }}{% else %}{{ prod.title | escape}}{% endif %}">
      <!-- <img itemprop="image" class="product__image product__image--{{ prod_variant.id }} lazy" data-srcset="{{ prod_variant.image | img_url: '800x' }} 2x, {{ prod_variant.image | img_url: '400x' }} 1x" data-src="{{ prod_variant.image | img_url: '400x' }}" data-default-image="{{ prod_variant.image | img_url: '800x' }}" alt="{% if prod_variant.image.alt != blank %}{{ prod_variant.image.alt | escape }}{% else %}{{ prod.title | escape}}{% endif %}"> -->
    </a>
    <header class="product__header">
      <h2 class="product__title">
        <a href="{{ prod_variant.url | within: collection }}" title="{{ prod.title | strip_html | escape }}" itemprop="name">{{ prod.title }}</a>
      </h2>
      <span class="product__meta product__meta--options">{{ prod_variant.title }}</span>
      <span class="product__meta product__meta--pricing" itemprop="offers" itemtype="http://schema.org/Offer" itemscope="itemscope">
        {% if prod_variant.available %}
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          {% if prod_variant.compare_at_price > prod_variant.price %}
            <span class="product__old-price">
              {% if prod_variant.compare_at_price > 0 %}
                 {{ prod_variant.compare_at_price | money }}
              {% endif %}
            </span>
          {% endif %}
          <span class="product__price" itemprop="price">{{ prod_variant.price | money }}</span>
        {% else %}
          <span class="product__price">SOLD OUT</span>
        {% endif %}
      </span>
    </header>
  </div>
</article>
{% endif %}