{% assign featured_prod = all_products[section.settings.product] %}

{% if featured_prod != blank and featured_prod.available %}
  <section class="section section--featured-product featured-product featured-product--{{ section.id }}" {{ section.shopify_attributes }}>
    <style>.featured-product--{{ section.id }} { background: {{ section.settings.bg_color }};}</style>
    <div class="section-content{% unless section.settings.padding %} section-content--padding-none{% else %} section-content--padding-wide{% endunless %}">
      <div class="featured-product__container">
        <a class="featured-product__image" href="{{ featured_prod.url }}" title="{{ featured_prod.title | strip_html | escape }}">
          {% assign img = featured_prod.featured_image %}
          {% if section.settings.image != blank %}
            {% assign img = section.settings.image %}
          {% endif %}
          <img class="lazy" data-srcset="{{ img | img_url: '1600x' }} 2x, {{ img | img_url: '800x' }} 1x" data-src="{{ img | img_url: '800x' }}" data-default-image="{{ img | img_url: '1600x' }}" alt="{{ img.alt | escape }}">
        </a>
        <div class="featured-product__content">
          <div class="featured-product__preheading">Featured Product</div>
          <h3 class="featured-product__heading">{% if section.settings.heading != blank %}{{ section.settings.heading }}{% else %}{{ featured_prod.title }}{% endif %}</h3>
          <div class="featured-product__meta">
            <div class="featured-product__meta-price">
              {% unless featured_prod.price_min == featured_prod.price_max %}<span>From</span>{% endunless %}<span>From</span> {{ featured_prod.price_min | money }}
            </div>
          </div>
          <div class="featured-product__description">
            {% if section.settings.description != blank %}{{ section.settings.description }}{% else %}{{ featured_prod.description | truncate_words: '10' }}{% endif %}
          </div>
          <a href="{{ featured_prod.url }}" class="featured-product__action btn btn--large">Shop Now</a>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Featured Product",
    "settings": [
      {
        "type": "checkbox",
        "id": "padding",
        "label": "Add Padding?",
        "default": false
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#f9f9f9"
      },
      {
        "type":"product",
        "id":"product",
        "label":"Product"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Heading",
        "info":"Leave blank to use Product Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "info":"Leave blank to use Product Description"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info":"Leave blank to use Product Image"
      }
    ],
    "presets": [{
      "name": "Featured Product",
      "category": "Content"
    }]
  }
{% endschema %}
